* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --secondary-color: #4EC5F7;

    --font-size: 20px;
}
.funny-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 240px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-title {
    font-size: 2.9rem;
    font-weight: 700;
    color: black;
    margin-left: 5px;
}

.logo-color {
    color: #FF42A5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 0 32px;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
}

#follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}

/* Banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 240px; */
}

.banner-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/Group\ 14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 900px;
    height: 700px;
}

.banner-imgage {
    padding-right: 240px;

}
.banner-img{
    width: 100%;
}

.banner-left h3 {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
}

.banner-left h2 {
    font-size: 5.9rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-left-paras {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 30px;
}

.banner-left-paras p {
    padding: 10px 0px;
}

.banner-left-btn {
    margin-top: 40px;
    margin-left: 30px;
}

.sign-btn {
    width: 156px;
    height: 65px;
    border: none;
    border-radius: 48px;
    background: var(--primary-color);
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}

.go-btn {
    width: 190px;
    height: 65px;
    margin-left: 10px;
    border: none;
    border-radius: 48px;
    background: var(--secondary-color);
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}

/* SECTION FUNNY VIDEOS STYLES */
.funny-videos {
    text-align: center;
    margin-top: 120px;
}

.funny-videos-title {
    margin-bottom: 48px;
}

.funny-videos-title h3 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.funny-videos-title p {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    padding-top: 24px;
}
.funny-cards p{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    padding-top: 24px;
}

.funny-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.card{
    width: 340px;
}


/* Responsive styles */

/* Mobile devices */
@media screen and (max-width:576px) {

    nav,
    .banner,
    .banner-left,
    .funny-cards {
        flex-direction: column;
    }
    
    nav>ul {
        flex-direction: column;
        gap: 40px;
        padding: 60px 0px;
    }

    #follow-us {
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
        width: 200px;
        padding: 5px;
        margin: 0px;
        text-align: center;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-left {
        width: 100%;
        height: 700px;
    }

    .banner-imgage {
        padding-right: 0px;
        width: 90%;

    }

    .banner-img {
        width: 500px;
    }

    .funny-cards{
        margin-left: 100px;
    }
}

/* Medium devices */
@media screen and (min-width: 577px) and (max-width:960px) {}